.container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 200px;
  overflow: hidden;
}

.transformed {
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0);
  contain: paint;
}

a {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 20px;
}
